@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@model ProjectWEB.Models.Category

@inject LanguageService language

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/ogani/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>@Model.CategoryName</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>@Model.CategoryDescription</h2>
                        </div>
                        @await Component.InvokeAsync("FoodListByCategory",new{id=ViewBag.id})
                    </div>
                </div>
            </div>
        </div>
    </section>
