@model IEnumerable<ProjectWEB.Models.Category>

@foreach(var item in Model)
{
    <div class="col-lg-3">
        <div class="categories__item set-bg" data-setbg="@item.CategoryImage">
            <h5><a asp-controller="Default" asp-action="CategoryDetails" asp-route-id="@item.CategoryID">@item.CategoryName</a></h5>
        </div>
    </div>
}